API_BASE_URL=http://api:50000

UNSPLASH_ACCESS_KEY=${UNSPLASH_ACCESS_KEY}

LANDING_VIDEO_URL_EN=https://www.youtube.com/watch?v=mfhBM_Yay6w
LANDING_VIDEO_URL_HR=https://www.youtube.com/watch?v=oiJIO7ymqo8